@import './components/Hamburger';
@import './components/NavPanel';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media screen and (min-width: 820px) {
    .header {
        &__mobile_nav {
            display: none;
        }
    }
}

@media screen and (min-width: 820px) {
    .header {
        &__desktop_nav {
            display: flex;
            width: 90%;
            max-width: 80rem;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            a {
                text-decoration: none;
                padding: 1rem 2rem;
                margin: 0 1rem;
            }
            button {
                height: 3rem;
                width: 200px;
                background-color: $desaturated-black;
                color: $desaturated-white;
                text-transform: uppercase;
                border: none;
                letter-spacing: 2px;

            }
        }
    }
}

@media screen and (max-width: 820px) {
    .header {
        &__desktop_nav {
            display: none;
        }
    }
}