.projects {
    
    &__project_card {
        text-align: center;
        margin-bottom: 3rem;
        img {
            width: 80%;
            max-width: 700px;
        }
        .text_wrapper {
            width: 75%;
            margin: 0 auto;
            p {
                margin: 1rem 0;
            }
        }

        .anchor_wrapper {
            margin-top: 3rem;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }

        a {
            background-color: $desaturated-black;
            color: $desaturated-white;
            text-transform: uppercase;
            letter-spacing: 2px;
            width: 40%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}