.about {
    &__card {
        text-align: center;
        margin: 0 auto 3rem;
        max-width: 350px;
        .image_container {
            width: 70px;
            height: 70px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                filter: invert(10%) sepia(5%) saturate(7%) hue-rotate(314deg) brightness(106%) contrast(93%);
                opacity: 0.9;
            }
        }
        h3 {
            margin: 1rem 0;
        }
        .text_wrapper {
            margin: 0 2rem;
        }
    }
}