.header {
    &__nav_panel {
        position: absolute;
        background-color: #fff;
        top: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 0;
        overflow: hidden;
        transition: height 500ms ease;
        a {
            padding: 1rem;
            margin-bottom: 1rem;
            text-decoration: none;
            color: $desaturated-black;
        }
        button {
            height: 3rem;
            width: 200px;
            background-color: $desaturated-black;
            color: $desaturated-white;
            border: none;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

    }

    &__nav_panel-active {
        height: 366px;
        padding: 1rem 0 0;
    }

}