@import './components/ProjectCard';

.projects {
    margin: 10rem 0;
    h2 {
        text-align: center;
    }
}

@media screen and (min-width: 1080px) {
    .projects {
        padding: 0 5rem;
        &__card_container {
            max-width: 1240px;
            margin: 0 auto;
        }
        &__project_card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            img {
                width: 100%;
            }
            .text_wrapper {
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: flex-end;
            }
            .anchor_wrapper {
                justify-content: flex-start;
                a {
                    margin-right: 1rem;
                }
            }
        }
        &__project_card:nth-child(even) {
            img {
                order: 2;
            }
        }
    }

}